<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_1_the_vision.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">

<p>Healthether is a platform created to promote awareness, content and learning.  It brings together bright crafty people who want to learn from others and help others learn.  Creative content and tools bring to light the current reality of the entire healthcare system. As current reality is better understood, it sharpens ones thinking.  New opportunities emerge for those who recognize and seize them.
<br>
<br>
So, become part of the family and give something back when you can.
</div>