<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_1_the_vision.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">
<p>Healthether created a mental model to better understand how the whole U.S. healthcare system works.   The mental model compares healthcare to another industry, housing... wierd right?
<br>
<br>
The goal is to create a group of people that care deeply about their healthcare system.  Participants will discuss, teach and learn from eachother that could not be achieved individually.  Hopefully overtime, it provides some insights into a topic that can be tricky to navigate.  Even better, what if healthether takes us to places we could have never imagined?
</div>