<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_7_payments.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">
On the healthcare side, payment must be looked at from both a customer and delivery system point of view. Health insurers received monthly premium payments from their customers. Health insurers pay or reimburse the healthcare delivery system for services rendered to patients. The healthcare industry calls these bills claims. It is basically an invoice for services rendered. One of a health insurers core capabilities is to administer this process based on the contracts and product specifications in place.
<BR>
<BR>
In comparison, a home builder can receive payments throughout the construction of the home. What is more common is a down payment and at closing a bank finances the house that the customer makes monthly mortgage payments over a 15 – 30 year time frame. If the housing customer is renting, the home builder receives monthly rent payments from their customers. Home builders pay or reimburse their sub-contractors and suppliers for services rendered and supplies purchased. One of a home builders core capabilities is to administer this process based on the contracts and product specifications in place.
</div>