<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_1_the_vision.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">

<p>The healthether project promotes awareness and learning to help navigate the ongoing changes in the healthcare industry.  
<br>
<br>
Creative content and tools bring to light the current reality of the healthcare system. As current reality is better understood, it sharpens ones thinking.  
<br>
<br>
Problems are resolved by better decision making.  New opportunities emerge for those who recognize and take advantage of them.
<br>
<br>
If you find healthether useful, please help spread the word.  Thanks for listening.
</div>