<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_8_perform_services.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">
Once a customer’s contract with the health insurer is effective, as healthcare services and supplies are required, the healthcare delivery system renders services for these patients. The delivery system are the experts at rendering healthcare services. However, they must follow the criteria based on the patients and providers contract with the insurer. Deviating from medically necessary services outlined in the contract can make the patient or provider liable for health services rendered.
<br>
<br>
In comparison, once a customer’s contract with the home builder is effective, sub-contractors and suppliers provide services and products. These resources are the experts, however, they must follow the criteria based on the customers, sub-contractors and suppliers contract with the home builder. Deviating from services and products outlined in the contract and specifications can make the customer, sub-contractor or vendor liable for the upgraded services or products.
</div>