<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.png", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  </h5>
</div>

<div class="nav_1" id="nav_1_hover:hover">
    <% @concepts.each do |concept| %>
      <%= link_to concept.name, concept.image %><br>
      <br>
    <% end %>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_1_the_vision.png", :alt => "healthether.com", width: '636', height: '312') %>
</div>

<%= render "pages/nav_2" %>

<div class="content_area_1">

<p>Healthether is an open-source healthcare framework optimized for healthiness.  It promotes awareness, discussion, learning and tools by favoring analogies and stories over instructions and lectures.  The framework brings to light the whole healthcare system, its relationships and interdependencies.
<br>
<br>
The community around healthether is full of nice people who want to help others learn.  Become part of the family, learn from others, and give something back when you can.
</div>