<div class="header_1">
<%= image_tag("logos/healthether_logo_and_tagline.jpg", :alt => "healthether.com", width: '636', height: '111') %>
</div>

<div class="header_2">
</div>

<div class="header_3">
  <h5>
  sign in
  </h5>
</div>

<div class="nav_1">
    <h6>
    THE IDEA<br>
    PRODUCT CREATOR<br>
    PRODUCT TYPES<br>
    PRODUCT SPECS<br>
    KEY PLAYERS<br>
    CONTRACTS<br>
    DELIVERY<br>
    PAYMENT
    </h6>
</div>

<div class="image_area_1">
<%= image_tag("concepts/concept_1_THE_IDEA.jpg", :alt => "healthether.com", width: '636') %>
</div>

<div class="nav_2">
<%= image_tag("navigators/nav_2.jpg", :alt => "healthether.com", width: '636') %>
</div>

<div class="content_area_1">
<p>Welcome to the healthether project.</p>
</div>

<footer>
  <p>healthether.  navigating healthcare
</footer>