<header class="header_1">
<br>
<%= image_tag("logos/healthether_logo.jpg", :alt => "healthehter.com", width: '100', bottom: '111') %>
</header>

<BR>
<BR>

<header class="header_2">
<br>
<br>
<%= image_tag("logos/healthether_tagline.jpg", :alt => "navigating healthcare.", width: '504', height: '111') %>
</header>

<header class="header_3">
  <h6>
  SIGN IN
  </h6>
</header>

<nav class="nav_1">
    <h6>
    THE IDEA<br>
    PRODUCT CREATOR<br>
    PRODUCT TYPES<br>
    PRODUCT SPECS<br>
    KEY PLAYERS<br>
    CONTRACTS<br>
    DELIVERY<br>
    PAYMENT
    </h6>
</nav>

<section class="image_area_1">
<%= image_tag("concepts/idea.jpg", :alt => "healthehter.com", width: '550') %>
</section>

<nav class="nav_2"

</nav>

<article class="content_area_1">
<p>Welcome to the healthether project.</p>
</article>

<footer>
  <p>healthether.  navigating healthcare
</footer>