@import "colors";

div {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial;	
}

.header_1 {
	position: absolute;
	top: 0px; left: 10px; bottom: 111px;
	
}

.header_2 {
	position: absolute;
	top: 0px; left: 132px; bottom: 111px;
}

.header_3 {
	position: absolute;
	top: 0px; left: 636px; bottom: 111px;
}

.nav_1 {
	text-align: left;
	position: absolute;
	top: 112px; left: 10px; bottom: 801px;
}

.bracket_1 {
	
}

.image_area_1 {
	position: absolute;
	top: 112px; left: 133px; bottom: 423px;
}

.bracket_2 {
	
}

.nav_2 {
		position: absolute;
		top: 424px; left: 133px;
}

.content_area_1 {
	position: absolute;
	top: 424px; left: 265px;
	color: $primary-text-color;
}

.footer {
	position: absolute;
	top: 700px; left: 0;
	width:100%;
	color: $primary-text-color;
	background-color: $primary-background-color;	
}