@import "colors";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: "Helvetica Neue", Helvetica, Arial;	
}

.container {
   top:0px;
   width:100%;
   min-height:100%;
   height:100%;
   position:relative;
}

.header {
	position: absolute;
	top:0; /* absolutely positioned top:0; moves it to the top of the container div */
	width:100%;
	height:20px;   /* SET TO 0 temporarily for flash notice. Height of the header */
	color: $header-text-color;
    
	margin: 0px;
	background-color: $header-background-color;
	background-image: {};
	padding: 2px;
	border: 10px;

	font-size: 10px;
	a:link { color: $header-link-color } /* unvisited links */
	a:visited { color: $header-link-color } /* visited links */
	a:hover { font-weight: bold } /* user hovers */
	a:active { color: $header-link-color } /* active links */
	}	

.header_1 {
	position: absolute;
	top: 25px; left: 10px; bottom: 111px;
	padding-top:0;   /* Height of the header */

}

.header_2 {
	position: absolute;
	top: 25px; left: 132px; bottom: 111px;
	padding-top:0;   /* Height of the header */

}

.header_3 {
	position: absolute;
	top: 25px; left: 636px; bottom: 111px;
	padding-top:0;   /* Height of the header */

}

.nav_1 {
	position: absolute;
	top: 112px; left: 30px;
	font-size: 10px;
	padding-bottom:60px;   /* Height of the footer */
	a:link { color: #000080 } /* unvisited links */
	a:visited { color: #000080 } /* visited links */
	a:hover { font-weight: bold } /* user hovers */
	a:active { color: #000080 } /* active links */

}

.bracket_1 {
	
}

.image_area_1 {
	position: absolute;
	top: 112px; left: 133px; bottom: 423px;
	padding-bottom:60px;   /* Height of the footer */
}

.bracket_2 {
	
}

.nav_2 {
		position: absolute;
		top: 424px; left: 133px;
   		padding-bottom:60px;   /* Height of the footer */
}

.content_area_1 {
	position: absolute;
	top: 424px; left: 265px;
	color: $primary-text-color;
	border: 15px solid #fff;
	padding-left: 0px;
	padding-right: 10px;
   	padding-bottom:60px;   /* Height of the footer */
	width: 450px;
	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
}

.footer {
	position: fixed;
	bottom:0; /* absolutely positioned bottom:0; moves it to the bottom of the container div */

/* When there is more than a page of content the container div is suppose to become larger and extends down below the bottom of the viewport - the footer should still positioned at the bottom of the container div but this time you need to scroll down to the end of the page to see it. - NOT BEHAVING CORRECTLY with postion: absolute... changed to position: fixed.*/

	width:100%;
	height:27px;   /* Height of the footer */
	color: $footer-text-color;
	background-color: $footer-background-color;
	font-size: 10px;
	border-radius: 4px;
	padding: 4px;
	margin: 0;
	text-align: justify;
	box-shadow: #ffc 0 0 4px;
	a:link { color: $footer-link-color } /* unvisited links */
	a:visited { color: $footer-link-color } /* visited links */
	a:hover { font-weight: bold } /* user hovers */
	a:active { color: $footer-link-color } /* active links */
}