<div class="header">
  <p>Concept and Development by <%= link_to "Anthony Barone", "http://www.linkedin.com/in/anthonybarrybarone/" %> in Rochester, NY.  Design by <%= link_to "Maureen Weiss", "http://maureenweiss.com" %> in Baltimore, MD.
</div>