<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      	lang="en"
      	xml:lang="en">
<head>
  <title>Healthether</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <!--[if lt IE 9]>
      <script src="components/html5shiv/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
